html        
    include ../detailed.html
style   
    include ../detailed.css
script 
    include ../detailworker.js
script.
    runner = !{JSON.stringify (runner)};

    algowriter (runner);
    clicksetter (runner);